.category-header{
    display: flex;
    justify-content: center;
    font-size: 120%;
    margin: 0;
    font-weight: 500;
}
.category-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10%;
}
.categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3%;
    column-gap: 6%;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 0.5px rgb(160, 160, 160) solid;
    border-radius: 3px;
}
.cat-img-div{
    display: flex;
    justify-content: center;
    padding: 12% 0;
    margin: 3% 0;
    border-bottom: 0.5px rgb(165, 165, 165) solid;
}
.cat-img{
    border-radius: 3px;
    width: 90%;
}
.cat-details{
    padding: 5%;
}
.cat-name{
    font-size: 100%;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    color: black;
}
.home-div{
    background-color: rgb(75, 74, 74);
    color: rgb(243, 243, 243);
    border-radius: 3px;
    text-decoration: none;
}
