body{
    padding-left: 22%;
}
.side-bar-div{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 10%;
    bottom: 52px;
    background-color: rgb(255, 255, 255);
    width: 20%;
    border-right: 0.1px rgb(178, 178, 178) solid;
}

.home-div{
    background-color: rgb(75, 74, 74);
    color: rgb(243, 243, 243);
    border-radius: 3px;
    text-decoration: none;
}

.cat-logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    padding: 15% 0;
    border-bottom: 0.5px rgb(207, 207, 207) solid;
    z-index: 99;
}
.cat-logo{
    width: 80%;
    height: 100%;
    border-radius: 50%;
    
}
